footer
    .container-fluid
        .row
            .col-md-4
                p.text-center Posadas Eva C.A. Los Roques - Venezuela.
            .col-md-3
                p.text-center Tel - 0000-0000000
            .col-md-4
                p.text-center Todos los derechos reservados. 2016
        .row
            .col-sm-6
                a(href="https://www.facebook.com/Vartare?fref=ts", target="_blank") Dise&ntilde;o: Jose Alberto Sanchez
            .col-sm-6
                a(href="http://websoftmerida.com.ve/", target="_blank") Desarrollo: websoftmerida
