nav.navbar.navbar-default
    .container-fluid
        .navbar-header
            button.navbar-toggle.collapsed("aria-expanded"="false", "data-target"="#bs-example-navbar-collapse-1", "data-toggle"="collapse", type="button")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#")
            img.logo-posada(alt="eva logo", src="../images/logos/eva_logo.png")
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav
                li.active
                    a(href="index.html") INICIO
                    span.sr-only (current)
                li
                    a(href="galeria.html") GALERIA
                li
                    a(href="nosotros.html") NOSOTROS
                li
                    a(href="foro.html") FORO
                li
                    a(href="reservas.html") RESEVAS
                li
                    a(href="contacto.html") CONTACTO